.sidebar-pranues-wide {
  height: 100dvh;
  width: 300px;
  background-color: rgb(130, 30, 30);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  position: relative;
  flex-shrink: 0;
}

.sidebar-pranues-wide-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  font-weight: 200;
  color: whitesmoke;
  font-size: 23px;
  gap: 10px;
}

.horizontal-line {
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to left,
    transparent,
    whitesmoke,
    whitesmoke,
    transparent
  );
}

.sidebar-pranues-wide-navbuttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  gap: 7px;
}

.sidebar-pranues-wide-navbuttons h5 {
  color: black;
  font-weight: 100;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.sidebar-pranues-wide-navbuttons h5:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.sidebar-pranues-wide-top {
  display: flex;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
}

.sidebar-pranues-wide-bottom {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar-pranues-wide-bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  gap: 5px;
  border: 0px solid transparent;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.sidebar-pranues-wide-logout:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.active-option {
  background-color: rgba(255, 255, 255, 0.4) !important;
  position: relative;
}

.active-option::after {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(-50%, -50%);
}



.sidebar-pranues-fullscreen {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgb(130, 30, 30);
  backdrop-filter: blur(7px);
  width: 100vw;
  height: 100dvh;
  position: absolute;
  z-index: 9999;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.sidebar-pranues-fullscreen-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  font-weight: 200;
  color: whitesmoke;
  font-size: 23px;
  gap: 10px;
}

.sidebar-pranues-fullscreen-navbuttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  gap: 7px;
}

.sidebar-pranues-fullscreen-navbuttons h5 {
  color: black;
  font-weight: 100;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.sidebar-pranues-fullscreen-navbuttons h5:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.sidebar-pranues-fullscreen-bottom {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 20px);
}

.sidebar-pranues-fullscreen-cart-profile-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.sidebar-pranues-fullscreen-bottom-element {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  border: 0px none transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  padding: 10px;
}

.sidebar-pranues-fullscreen-logout {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  border: 0px none transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.sidebar-pranues-fullscreen-logout:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.sidebar-pranues-trigger-wrapper {
  width: 100%;
  padding: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}

.sidebar-pranues-trigger-button {
  display: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  background-color: rgb(130, 30, 30);
  flex-shrink: 0;
  border: 0px solid transparent;
}

.sidebar-pranues-wide-cart-notify {
  padding: 5px;
  background-color: lightyellow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 13px;
  height: 20px;
  width: 20px;
}

@media (min-width: 1000px) {
  .sidebar-fullscreen {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 1000px) {
  .sidebar-pranues-wide {
    display: none;
  }
  .sidebar-pranues-trigger-button {
    display: flex;
  }
  .sidebar-pranues-trigger-wrapper {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .sidebar-pranues-fullscreen {
    opacity: 0 !important;
  }
}