.distributor-home-parent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
}

.home-children-products-number {
  background-image: url("../../images/products-image-one.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.home-children-clients {
  background-image: url("../../images/clients-image-one.avif");

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.home-children-sale-products {
  background-image: url("../../images/sale-image-one.avif");
}

.home-children-orders {
  background-image: url("../../images/orders-image-one.jpg");
}

.home-children {
  background-color: rgb(80, 80, 80);
  display: flex;
  color: #fff;
  flex-shrink: 1;
  display: flex;
  padding: 20px;
  flex-basis: 400px;
  box-sizing: border-box;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 30px;
  font-weight: 400;
  min-height: 350px;
  cursor: pointer;
}

.home-children h3 {
  text-shadow: 0px 0px 15px rgba(33, 33, 33, 0.5);
}
